<div class="comment-item">
  <a href="#/users/<%= comment.escape("user_id") %>" class="user-avatar"><img src="<%= comment.user().attributes.avatar_url %>"/></a>
  <div class="comment-content"><%= comment.escape("content") %></div>
</div>
