<div class="comment-item group">
  <a href="#/users/<%= comment.escape("user_id") %>" class="user-avatar">
    <img src="<%= comment.user().attributes.avatar_url %>"/>
  </a>
  <div class="comment-content">
    <% if(comment.attributes.user_id === Bokeh.currentUser.id){ %>
      <p class="hover-edit">Click here to edit!</p>
    <% } %>
    <h3><%= comment.user().attributes.name %></h3>
    <p class="content"><%= comment.escape("content") %></p>
  </div>
</div>
