  <form>
    <label>Title
      <input id="input-photo-image" type="file" name="photo[image]">
    </label>
    <br>
    <label>Description (optional)
      <input type="text" name="photo[description]">
    </label>

    <br>
    <button class="photo-submit">Add!</button>
  </form>
