  <form>
    <small class="close-form">X</small>
    <br>
    <% if(photo.isNew()){ %>
      <label>File
        <input id="input-photo-image" type="file" name="photo[image]">
      </label>
    <% } %>

    <br>
    <input id="input-photo-title"
           type="text"
           name="photo[title]"
           value="<%= photo.escape("title") %>"
           placeholder="Title">
    <br>
      <input id="input-photo-description"
             type="text"
             name="photo[description]"
             value="<%= photo.escape("description") %>"
             placeholder="Description">
    <br>
    <label>Album
       <select id="input-photo-album" name="photo[album_id]">
         <option value=0></option>
       <% albums.each(function (album) { %>
         <option value="<%= album.id %>"><%= album.escape("title") %></option>
       <% }) %>
       </select>
    </label>
    <% if(!photo.isNew()) { %>
      <label>Use as Avatar
        <input class="avatar-checkbox" type="checkbox">
      </label>
      <label>Use as Banner
        <input class="banner-checkbox" type="checkbox">
      </label>
    <% } %>
    <button class="photo-submit">Submit</button>
  </form>
