  <form class="add-edit-photo">
    <small id="close-form">X</small>
    <br>
    <% if(photo.isNew()){ %>
        <input id="input-photo-image" type="file" name="photo[image]">
    <% } %>


    <input id="input-photo-title"
           type="text"
           name="photo[title]"
           value="<%= photo.escape("title") %>"
           placeholder="Title">

    <input id="input-photo-description"
           type="text"
           name="photo[description]"
           value="<%= photo.escape("description") %>"
           placeholder="Description">


    <% if(!photo.isNew()) { %>
      <input class="avatar-checkbox" type="checkbox">Use as Avatar
      <br>
      <input class="banner-checkbox" type="checkbox" name="">Use as Banner
      </label>
    <% } %>
    <button class="photo-submit">Submit</button>
  </form>
