<h1 class="photo-user">
  <img src="<%= photo.user().escape("avatar_url") %>"/>
</h1>

<h2 class="photo-title">
  <%= photo.escape("title") %>
</h2>

<p class="photo-description">
  <%= photo.escape("description") %>
</p>
