<h1 class="photo-user">
  <%= photo.user().escape("name") %>
</h1>

<h2 class="photo-title">
  <%= photo.escape("title") %>
</h2>

<p class="photo-description">
  <%= photo.escape("description") %>
</p>
