<form class="edit-details">
  <label class="photo-title">Title
    <input type="text" name="photo[title]" value="<%= photo.escape("title") %>">
  </label>
<br>
  <label class="photo-description">Description
    <input type="text" name="photo[description]" value="<%= photo.escape("description") %>">
  </label>
</form>
