<div class="photo-tile group">

  <a href="#/photos/<%= photo.id %>">
    <img class="index-tile" src="<%= photo.escape("image_url") %>"/>
  </a>

  <button class="photo-delete" data-id="<%= photo.id %>">Delete</button>

</div>
