<div class="photo-tile group">
  <div class="photo-tile-section">

    <a href="#/photos/<%= photo.id %>">
      <img class="index-tile" src="<%= photo.escape("medium_url") %>"/>
    </a>


      <button class="photo-delete" data-id="<%= photo.id %>">Delete</button>
      <button class="photo-edit" data-id="<%= photo.id %>">Edit</button>


  </div>
</div>
