<section class="banner-view"></section>

<section class="photo-index">
  <section class="add-photo-form group">
    <% if(Bokeh.currentUser.id === user.id) { %>
      <button class="new-photo">Upload Photo</button>
      <img src="/715.GIF" class="upload-spinner hidden"/>
    <% } %>
  </section>

  <section class="photo-index-photos">

  </section>
</section>
