
  <div class="image-window group">
    <img src="ajax-loader.gif" class="loader-gif"/>
    <img class="main-photo" src="<%= photo.escape("original_url") %>"/>
  </div>

  <div class="photo-info group">
  </div>

  <section class="comment-index">
  </section>

  <section class="tag-index">
    <input type="text" placeholder="Add a tag">
    <button type="button" class="add-tag">Add</button>
  </section>
