
  <div class="image-window group">
    <img src="ajax-loader.gif" class="loader-gif"/>
    <img class="main-photo" src="<%= photo.escape("original_url") %>"/>
  </div>

  <div class="photo-info group">
  </div>

  <div class="comment-tag-container group">
    <section class="comment-index">
    </section>

    <section class="tag-container">
      <h2>Tags</h2>
      <% if(photo.user().id === Bokeh.currentUser.id) { %>
        <form class="new-tag">
          <input class="tag-name" name="tagging[name]"type="text" placeholder="Add a tag">
          <button type="button" class="add-tag">Add</button>
        </form>
      <% } %>
      <div class="tag-index group">
      </div>
    </section>
  </div>
