
  <div class="image-window group">
    <img class="main-photo" src="<%= photo.escape("original_url") %>"/>
  </div>

  <div class="photo-info group">
  </div>

  <section class="comment-index">
  </section>
