<img class="photo-show" src="<%= photo.escape("image_url") %>"/>

<section class="photo-info">
  <label class="photo-title">Title:
    <%= photo.escape("title") %>
  </label><br>

  <label class="photo-user">
  </label>

  <label class="photo-description">Description:
    <%= photo.escape("description") %>
  </label>
</section>

<section class="comment-index">
</section>
