<img class="photo-show" src="<%= photo.escape("image_url") %>"/>

<section class="photo-info">
  <label class="photo-user">
    <a href="#/users/<%= photo.escape("user_id") %>"><%= photo.user().escape("name") %></a>
  </label>
</section>

<section class="comment-index">
</section>
