<h1>HI!</h1>

<a href="<%= new_user_album_url(current_user) %>">Add and Album</a>

<br>

<ul>
  <% @user.albums.each do |album| %>
  <%= fail %>
    <a href="<%= user_album_url(album) %>"><li> <%= album.title %> </li></a>
  <% end %>
</ul>
