

  <section class="home-photo-index">
    <div class="photo-tile group">
      <% photos.forEach(function (photo) { %>

      <a href="#/photos/<%= photo.id %>">
        <img class="index-tile" src="<%= photo.escape("medium_url") %>"/>
      </a>

      <% }) %>
    </div>
  </section>
