<img src="/20070331-Camp+Bob-120-Edit.jpg" class="splash-page-background"/>

<h1 class="splash-page-main-text">Bokeh. The second home for all your photos.</h1>

<h2 class="splash-page-secondary-text">
  Upload, access, organize, and share your photos from anywhere in the universe.
</h2>

<a href="#/users/new" class="spash-sign-up">Create an Account</a>
