
<section class="splash-content">

  <img src="/20120308-Personal Work-336.jpg" class="splash-content-image"/>
  <div class="splash-content-text">
    <h1 class="splash-page-main-text">Bokeh. A Flickr clone.</h1>

    <h2 class="splash-page-secondary-text">
      Upload, access, organize, and share your photos from anywhere in the universe.
    </h2>
    <a href="#/users/new" class="splash-sign-in-up">Sign Up</a>
  </div>

</section>
