/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* --- RESET --- */

body, nav, a, h1, h2, div, header,
section
  {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background: transparent;
  font: inherit;
  color: inherit;
  box-sizing: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;

}

body {
  box-sizing: content-box;
  font-family: sans-serif;
  line-height: 1.1666666666;
  font-size: 16px;
  color: #000;
  background: #F3F5F6;
  position: relative;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

/*clear-fix*/
.group:after {
  content: "";
  clear: both;
  display: block;
}

 #main {
  min-width: 900px;
  width: 95%;
  margin: auto;
}

#header {
  background: #1F1F20;
  display: block;
}

.nav {
  display: block;
  min-width: 700px;
  width: 85%;
  margin: auto;
}

nav a {
  color: #fff;
}

.header-logo {
  display: block;
  float: left;
  font-size: 25px;
  font-weight: bold;
  padding: 10px 15px;
}

.nav-links a {
  margin: auto;
  display: block;
  float: left;
  padding: 16px 17px;
}

.nav-tools {
  float: right;
}

.nav-tools a {
  display: block;
  float: left;
  padding: 16px 17px;
}

.index-tile {
  display: block;
  float: left;
  width: 100px;
  border: 1px solid green;
  margin: 10px;
}

.photo-show {
  width: 80%;
  margin: auto;
  background: #ccc;
  border: 2px solid green;
  margin: 40px auto;
}

.comment-index {
  border:  2px solid red;
  padding: 20px 0;
}
