/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require justifiedGallery.min
 */

 /* --- RESET --- */

body, nav, a, h1, h2, ul, li,
header, section, img, button, figcaption
  {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background: transparent;
  font: inherit;
  color: inherit;
  box-sizing: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;

}

ul {
  list-style: none;
}

body {
  box-sizing: content-box;
  font-family: sans-serif;
  line-height: 1.1666666666;
  font-size: 16px;
  color: #000;
  background: #F3F5F6;
  position: relative;
  min-width: 1075px;
  height: 100%;
}

html {
  height: 100%;
}

.master-photo-show {
  height: 100%;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

/*clear-fix*/
.group:after {
  content: "";
  clear: both;
  display: block;
}

 #main {
  min-width: 900px;
  margin: auto;
  height: 100%;
  padding-top: 52px;
}

#header {
  background: #161617;
  position: fixed;
  color: #fff;
  z-index: 1;
  display: block;
  width: 100%;
}

/*Header Start*/

.header-nav {
  min-width: 700px;
  width: 85%;
  margin: auto;
}

.header-nav a:hover {
  color: #BBBBBB;
}

.header-logo {
  float: left;
  font-size: 25px;
  font-weight: bold;
  padding: 10px 15px;
}

.nav-links {
  float: left;
}

#header a {
  display: block;
}

.nav-links a {
  padding: 16px 17px;
}

.nav-links li {
  display: block;
  float: left;
}

.nav-links > li {
  position: relative;
}

.user-options {
  display: none;
  position: absolute;
  left: 15px;
  top: 45px;
  font-size: 14px;
  border: 1px solid #A2A2A2;
  border-radius: 2px;
  white-space: nowrap;
  background: #fff;
  color: #000;
  overflow: hidden;
}

li:hover .user-options {
  display: block;
}

.user-options a {
  padding: 5px 20px;
}

.user-options > li:hover {
  background: #E6EAEC;
}

.user-options a:hover {
  color: #000;
}

.nav-tools {
  float: right;
}

.nav-tools li {
  display: block;
  float: left;
  padding: 16px 17px;
}

.nav-tools form {
  float: left;
  padding: 13px 0;
}

.nav-tools input, .nav-tools button {
  float: left;
  font-size: 17px;
  background: #fff;
}

.nav-tools button {
  padding: 3px;
}

.nav-tools .header-avatar {
  width: 30px;
  height: auto;
  padding: 0;
  margin: 9px 0;

}

/*Splash Page*/

.splash-content {
  display: block;
  position: relative;
}

.splash-content-image {
  display: block;
  position: relative;
}

.splash-content-text {
  min-width: 1075px;
  text-align: center;
  position: fixed;
  top: 40%;
  transform: translateY(-60%);
  left: 50%;
  transform: translateX(-50%);
  right: 0;
  bottom: 0;
  color: #fff;
  text-shadow: 1px 1px 2px black;
}

.splash-content-text h1 {
  display: block;
  font-size: 36px;
}

.splash-content-text h2 {
  font-size: 18px;
  padding-bottom: 40px;
}

.splash-sign-in-up {

  margin: auto;
  background: #1C9BE9;
  padding: 15px 60px;
  color: #fff;
  border-radius: 3px;
  font-size: 18px;
}

.form-sign-in-up {
  background: #1C9BE9;
  padding: 15px 60px;
  color: #fff;
  border-radius: 3px;
  font-size: 18px;
}

/*Sign Up Modal*/

.sign-up-container {
  position: fixed;
  width: 300px;
  padding: 30px;
  border: 1px solid #595959;
  z-index: 1;
  top: 35%;
  transform: translateY(-65%);
  left: 50%;
  transform: translateX(-50%);
  background: #1F1F20;
}

.sign-in-container {
  position: fixed;
  width: 300px;
  padding: 30px;
  border: 1px solid #595959;
  z-index: 1;
  top: 35%;
  transform: translateY(-65%);
  left: 50%;
  transform: translateX(-50%);
  background: #1F1F20;
}

#sign_in_up_form {
  position: relative;
  color: #fff;
}

#sign_in_up_form h3 {
  display: block;
  text-align: center;
}

#sign_in_up_form input {
  display: block;
  margin: 20px auto;
  width: 250px;
  padding: 5px;
  font-size: 16px;
}

#sign_in_up_form button {
  float: none;
  margin: auto;
  display: block;
}

#sign_in_up_form .guest-user {
  background: #eee;
  color: #000;
  display: block;
  margin: 10px auto;
  padding: 5px 20px;
}

#sign_in_up_form button:hover {
  cursor: pointer;
}

.sign-in-container a {
  display: block;
  margin: auto;
  text-align: center;
  padding-bottom: 20px;
}

.close-modal {
  position: absolute;
  top: -45px;
  font-size: 20px;
  right: -25px;
  padding: 3px 5px;
}

.close-modal:hover {
  cursor: pointer;
  background: #1C9BE9;
}

/*photo index page*/

.add-photo-form {
  float: left;
  position: relative;
}

.new-photo {
  text-align: center;
  margin: 10px;
  float: left;
  height: 200px;
  width: 175px;
  background: #1C9BE9;
  color: #fff;
  border: 1px solid #167cba;
}

.add-photo-form button:hover {
  cursor: pointer;
  background: #167cba;
}

.photo-index-tile {
  position: relative;
  display: block;
  float: left;
  margin: 10px;
}

.photo-index-tile .index-tile {
  height: 200px;
  width: auto;
}


.add-edit-photo {
  position: absolute;
  font-size: 14px;
  float: left;
  height: 200px;
  width: 175px;
  margin: 10px;
  background: #1C9BE9;
}

.add-edit-photo #input-photo-image {
  width: 150px;
}

.add-edit-photo input {
  padding: 4px;
  display: block;
  margin: 5px auto;
}

.add-edit-photo button {
  padding: 5px 10px;
  background: #167CBA;
  display: block;
  margin: 5px auto;
  font-size: 14px;
  color: #fff;
}


.add-edit-photo .avatar-checkbox,
.add-edit-photo .banner-checkbox {
  padding-left: 5px;
  display: inline;
}

.add-photo-form #close-form {
  position: absolute;
  right: 10px;
  top: 10px;
  padding: 3px;
}

.add-photo-form #close-form:hover {
  cursor: pointer;
  background: #167CBA;
}

.photo-index-tile:hover .photo-hover-buttons {
  display: block;
  margin: auto;
  background: #1C9BE9;
  color: #fff;
}

.photo-hover-buttons {
  display: none;
  position: absolute;
  width: 148px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.photo-hover-buttons button {
  padding: 2px;
  font-size: 14px;
}

.photo-hover-buttons button:hover {
  cursor: pointer;
  background: #167cba;
}




/*Photo Show Page*/

.image-window {
  position: relative;
  display: block;
  background: #212124;
  height: 85%;
}

.main-photo {
  height: 100%;
  /*top: 50%;*/
  /*transform: translateY(50%);*/
  margin: auto;
  /*transform: translateX(-50%);*/
  width: auto;
}

.photo-info {
  margin: auto;
  padding: 20px;
  width: 50%;
  border-bottom: 1px solid #CFD6D9;
}

.photo-info .photo-user-pic {
  float: left;
  width: 50px;
  height: auto;
}

.photo-info .photo-details {
  float: left;
  padding: 15px 20px;
}

.photo-info a {
  font-size: 22px;
  padding-bottom: 15px;
  padding-left: 18px;
}

.photo-info h2 {
  font-size: 16px;
}

.edit-details {
  padding-left: 55px;
}

.edit-details input,
.edit-details textarea {
  display: block;
  width: 300px;
  padding: 5px;
  font-size: 18px;
  margin: 10px;
}

.comment-index {
  width: 500px;
  margin: auto;
  padding-bottom: 80px;
}

.comment-item {
  border-bottom: 1px solid #CFD6D9;
  padding: 10px;
}

.comment-item:hover {
  background: #fff;
}

.comment-index .user-avatar {
  padding-top: 30px;
  float: left;
  width: 30px;
  height: 30px;
}

.comment-item .comment-content {
  position: relative;
  float: left;
  padding-left: 15px;
}

.comment-content .hover-edit {
  position: absolute;
  display: none;
  color: #ccc;
  top: -5px;
  left: 300px;
  width: 150px;
}

.comment-item:hover .hover-edit {
  display: block;
}

.new-comment-form {
  position: relative;
}

.new-comment-form button {
  position: absolute;
  padding: 5px 10px;
  display: block;
  bottom: -25px;
  right: 60px;
  color: #fff;
  background: #1C9BE9;
}

.new-comment-form .user-avatar,
.new-comment-form .new-comment-area {
  float: left;
  display: block;
  margin: 10px
}

.new-comment-form .user-avatar {
  padding-top: 0;
}

.new-comment-area {
  font-size: 16px;
}



/*Banners*/

.banner-container {
  height: 250px;
  overflow: hidden;
  position: relative;
}

.banner-image {
  position: absolute;
  display: block;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
}

.banner-info {
  z-index: 1;
  position: absolute;
  bottom: 25px;
  left: 10%;
  width: 80%;
}

.banner-user-details {
  color: #fff;
  text-shadow: 1px 1px 3px #000;
}

.banner-user-details h1 {
  font-size: 24px;
  padding-bottom: 20px;
}

.avatar-image {
  float: left;
  padding-right: 20px;
  /*position: absolute;*/
  width: 100px;
  /*height: 100px;
  bottom: 25px;
  left: 10%;*/
}


.photo-tiles {
  width: 80%;
  margin: auto;
}
/*.banner-user-details {
  position: absolute;
  bottom: 25px;
  left: 18%;
}*/

/*Home Page*/
.photo-index {
  padding: 30px 0;
  width: 90%;
  margin: auto;
}

.photo-tile {
  position: relative;
  display: block;
  float: left;
}

.photo-tile .home-image {
  height: 300px;
  width: auto;
  margin: 3px;
}
/*
.photo-tile .header-avatar img {
  float: left;
  width: 40px;
  height: auto;
  margin-right: 10px;
  border: 1px solid #ccc;
}*/

.photo-tile .photo-info {
  display: none;
  width: 90%;
  left: 50%;
  transform: translateX(-50%);
  background: #000;
  opacity: .7;
  position: absolute;
  bottom: 2px;
  padding: 5px;
}

.photo-info a {
  color: #fff;
  font-size: 16px;
}

.photo-info .user-info {
  float: left;
}

.photo-info .photo-title {
  float: right;
  padding-right: 20px;
}

.photo-tile:hover .photo-info{
  display: block;
}

.home-index-text a {
  display: block;
  padding: 2px;
}

.home-index-text .user-name {
  font-weight: bold;
  text-transform: capitalize;
}


/*Search*/

.search-page {
  width: 900px;
  margin: auto;
}
.search-page h1 {
  padding: 20px 0;
  display: block;
  text-align: center;
  font-size: 36px;
}

.search-page input {
  font-size: 18px;
  padding: 5px;
  display: block;
  margin: auto;
  width: 300px;
  border: 1px solid #1C9BE9;
}

.search-page nav {
  padding: 20px;
  text-align: center;
  display: block;
  margin: auto;
}

.search-page .nav-buttons {
  display: block;
  width: 400px;
  margin: auto;
}

.nav-buttons .prev-page {
  float: left;
}

.nav-buttons .next-page {
  float: right;
}

.search-results .search-tile {
  float: left;
  padding: 20px;
  text-align: center;
}

.search-results .user-pic {
  display: block;
  width: 200px;
}
