<div class="album-tile group">
  <div class="album-tile-section">
    <a href="#/albums/<%= album.id %>">
      <% if(album.photos().length === 0){ %>
        <img src="/default_banner.jpg"/>
      <% } else { %>
        <img src="<%= album.photos().first().escape("medium_url") %>"/>
      <% } %>
    </a>

      <% if(Bokeh.currentUser.id === album.attributes.user_id) { %>
        <button class="album-delete" data-id="<%= album.id %>">Delete</button>
        <button class="album-edit" data-id="<%= album.id %>">Edit</button>
      <% } %>
  </div>
</div>
