<section class="new-album-form">
  <form>
    <small id="close-form">X</small>

    <h2>Add an Album</h2>

    <input type="text" name="album[title]" placeholder="Title">
    <input type="text" name="album[description]" placeholder="Description">

    <button class="add-album">Add Album</button>
  </form>
</section>
