<h3><%= album.escape("title") %></h3>

<% album.photos().each(function (photo) { %>
  <ul>
    <li><%= photo.escape("title") %></li>
    <li><%= photo.escape("description") %></li>
  </ul>
<% }) %>
<br>
<button class="new-photo">Add a Photo</button>
